{% extends "base.html" %}
{% block content %}
            <h1>Archive</h1>

{% set first = true %}
{% for article in collations.blog_articles %}
    {% set article_year = article.date | strftime('%Y') %}
    {% if article_year != next_year %}
        {% if first == false %}
            </ol>
        {% endif %}
            <h2>{{ article_year }}</h2>
            <ol class="archive-list">
    {% endif %}
    {% set first = false %}
                <li>
                    <p class="post-meta">
                        <time datetime="{{ article.date.isoformat() }}" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                    </p>
                    <h3 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                </li>
    {% set next_year = article_year %}
{% endfor %}
            </ol>
{% endblock %}
