{% extends "base.html" %}
{% block meta_tags %}
{{ super() }}
  {%- if article.excerpt %}
    <meta name="description" content="{{ article.excerpt | striptags }}" />
  {% else %}
    <meta name="description" content="{{ article.summary | striptags }}" />
  {% endif %}
  {%- if article.tags %}
    <meta name="keywords" content="{{ article.tags | join(',') }}" />
  {% endif %}
{% endblock meta_tags %}

{% block title %}{{ article.title | striptags | escape }} | {{ SITENAME }}{% endblock title %}

{% block content %}
<article class="content-single">
    <header class="post-header">
        <p class="post-meta">
            <time datetime="{{ article.date.isoformat() }}" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </p>
        <h1 class="post-title">{{ article.title }}</h1>
    </header>

    {{ article.content | pure_table }}

    <footer>
        <div class="pure-g">
            <div class="pure-u-3-4">
                <ul class="taxonomy">
                    <li class="post-category post-category-{{ article.category | lower }}">
                        <a href="/blog/category/#{{ category | lower | replace(' ', '-') }}"><i class="fa fa-folder"></i> {{ article.category }}</a>
                    </li>
                {%- for tag in article.tags %}
                    <li class="post-tag post-tag-{{ tag | lower | replace(' ', '-') }}">
                        <a href="/blog/tag/#{{ tag | lower | replace(' ', '-') }}">#{{tag}}</a>
                    </li>
                {%- endfor %}
                </ul>
            </div>
            <div class="pure-u-1-4">
                <p class="post-md">
                    <a href="{{ SITEURL }}/{{ article.url }}index.txt"><i class="fa fa-file-text-o"></i> Markdown source</a>
                </p>
            </div>
        </div>
    </footer>
</article>
{% endblock content %}
