{% extends "base.html" %}
{% block meta_tags %}
{{ super() }}
  {%- if article.excerpt %}
    <meta name="description" content="{{ article.excerpt | striptags }}" />
  {% else %}
    <meta name="description" content="{{ article.summary | striptags }}" />
  {% endif %}
  {%- if article.tags %}
    <meta name="keywords" content="{{ article.tags | join(',') }}" />
  {% endif %}
{% endblock meta_tags %}

{% block title %}{{ article.title | striptags | escape }} | {{ SITENAME }}{% endblock title %}

{% block content %}
<article class="content-single">
    <header class="post-header">
        <p class="post-meta">
            <time datetime="{{ article.date.isoformat() }}" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </p>
        <h1 class="post-title">{{ article.title }}</h1>
    </header>

    {{ article.content }}

    <footer>
        <p class="post-meta">
            By <a href="#" class="post-author">Andrew Heiss</a> &bull; 
            <a href="{{ SITEURL }}/{{ article.url }}index.txt">Markdown <i class="fa fa-file-text-o"></i></a>
            {%- for tag in article.tags %}
            <a class="post-tag post-category-{{ tag | lower }}" href="#">#{{tag}}</a> 
            {%- endfor %}
        </p>
    </footer>
</article>
{% endblock content %}
