<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Andrew Heiss">

    {% block meta_tags %}{% endblock meta_tags %}

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <link rel="stylesheet" href="/theme/css/pure/0.5.0/pure-min.css">

    <!--[if lte IE 8]>
        <script src="/js/html5shiv.min.js"></script>
        <link rel="stylesheet" href="/theme/css/0.5.0/grids-responsive-old-ie-min.css">
        <link rel="stylesheet" href="/theme/css/ath-pelican-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/theme/css/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="icon" type="image/vnd.microsoft.icon" href="/theme/favicon.ico" />
    <link rel="icon" type="image/png" href="/theme/favicon.png" />

    <script src="//use.typekit.net/ugx1ajm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="/theme/css/ath-pelican.css">
    
    <link rel="stylesheet" href="/theme/css/cc-icons.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/theme/css/bigfoot-number.css"/>
    <script src="/theme/js/jquery-2.1.1.min.js"></script>
    <script src="/theme/js/bigfoot.min.js"></script>
    <script>
        $.bigfoot({
            actionOriginalFN: "ignore",
            numberResetSelector: "article"
        });
    </script>
    {% endblock head %}

</head>

<body>
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <header>
                <h1 class="title"><a href="/">{{ SITENAME }}</a></h1>
                <h2 class="minibio">{{ MINIBIO }}</h2>
                <!-- <h2 class="school">Duke University</h2>  -->

                <nav id="main-nav">
                    <ul class="nav-list">
                        {% for title, link in MENUITEMS %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </header>
        </div> <!-- End of .sidebar -->

        <div class="content pure-u-1 pure-u-md-3-4">
            {% block content %}
            {% endblock %}
        </div> <!-- End of .content -->
    </div> <!-- End of #layout -->

    <div class="footer">
        {% include 'footer.html' %}
    </div>

</body>
</html>
