        <footer>
            <ul class="links">
            {% for title, link, fa in SOCIAL %}
                <li>
                    <a href="{{ link }}">
                        <i class="fa {{ fa }} fa-lg" title="{{ title }}"></i>
                        <span class="screen-reader-text">{{ title }}</span>
                    </a>
                </li>
            {% endfor %}
            </ul>

            <p class="copy">
                <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Creative Commons Attribution-ShareAlike 4.0 International license"><i class="cc cc-cc"></i></a>
                <i class="cc cc-by" title="Attribution"></i>
                <i class="cc cc-share" title="Share alike"></i> 
                <span class="cc-year">&bull; 2007–2014</span>
            </p>

            <p class="colophon">Code for <a href="https://github.com/andrewheiss/athpelican">site</a> and <a href="https://github.com/andrewheiss/athpelican-theme">theme</a></p>

            <p class="pgp">
                <a href="http://www.andrewheiss.com/pgp_ath.txt">PGP public <i class="fa fa-key"></i></a> &bull; PGP fingerprint:<br />4AA2 FA83 A8B2 05A4 E30F<br/> 610D 1382 6216 9178 36AB
            </p>
        </footer>
