{% extends "base.html" %}
{% import "macros.html" as meta %}

{% set title = SITENAME | striptags | escape %}
{%- if page.description %}
    {% set description = page.description %}
{% else %}
    {% set description = DESCRIPTION %}
{% endif %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ SITEURL }}">
{% endblock %}

{% block meta_tags %}
    {{ meta.meta_description(description) }}
{% endblock meta_tags %}

{% block social_meta %}
    {% if page.thumbnail %}
    {{ meta.open_graph(title, SITEURL, description, page.thumbnail) }}
    {% else %}
    {{ meta.open_graph(title, SITEURL, description, SITEURL + DEFAULT_SOCIAL_IMG) }}
    {% endif %}
{% endblock social_meta %}

{% block schema_meta %}
    {% if page.thumbnail %}
    {{ meta.site_schema_json_ld(title, SITEURL, description, page.thumbnail) }}
    {% else %}
    {{ meta.site_schema_json_ld(title, SITEURL, description, SITEURL + DEFAULT_SOCIAL_IMG) }}
    {% endif %}
{% endblock schema_meta %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                async: true,
                url: "/get_tweets/",
                cache: false,
                dataType: "html",
                success: function(data) {
                    $("#twitter").html(data);
                }
            });
        });
    </script>
{% endblock extra_script %}

{% block content %}
<div class="home-top pure-g">
    <div class="home-image pure-u-1 pure-u-md-1-3">
        <img src="{{ page.main_photo }}" class="pure-img-responsive" alt="{{ AUTHOR }}">
    </div>
    <div class="home-blurb pure-u-1 pure-u-md-2-3">
        {{ page.content }}
    </div>
</div>


<div class="home-extra pure-g">
    <div class="blog-excerpt pure-u-1 pure-u-md-7-12">
        <h2>Latest blog post</h2>
        {% for article in articles[:1] %}
        <p>{{ article.excerpt }}</p>
        <p class="pseudo-navigation"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}&nbsp;<i class="fas fa-arrow-circle-right"></i></a></p>
        {% endfor %}
    </div>
    <div class="twitter-excerpt pure-u-1 pure-u-md-5-12">
        <h2><a href="https://twitter.com/andrewheiss">@andrewheiss</a></h2>
        <div id="twitter">
            <div id="loading">
                <p><i class="fas fa-spinner fa-pulse"></i> Loading tweets&hellip;</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
