{% extends "base.html" %}
{% import "macros.html" as meta %}

{%- if page.description %}
    {% set description = page.description %}
{% else %}
    {% set description = DESCRIPTION %}
{% endif %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ SITEURL }}">
{% endblock %}

{% block meta_tags %}
    {{ meta.meta_description(description) }}
{% endblock meta_tags %}

{% block social_meta %}
    {{ meta.open_graph(SITENAME, SITEURL, description) }}
{% endblock social_meta %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                async: true,
                url: "/get_tweets/",
                cache: false,
                dataType: "html",
                success: function(data) {
                    $("#twitter").html(data);
                }
            });
        });
    </script>
{% endblock extra_script %}

{% block content %}
<div class="home-blurb">
    {{ page.content }}
</div>

<div class="home-extra pure-g">
    <div class="blog-excerpt pure-u-1 pure-u-md-3-5">
        <h2>Latest blog post</h2>
        {% for article in articles[:1] %}
        <p>{{ article.excerpt }}</p>
        <p class="pseudo-navigation"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}&nbsp;<i class="fa fa-arrow-circle-right"></i></a></p>
        {% endfor %}
    </div>
    <div class="twitter-excerpt pure-u-1 pure-u-md-2-5">
        <h2><a href="https://twitter.com/andrewheiss">@andrewheiss</a></h2>
        <div id="twitter">
            <div id="loading">
                <p><i class="fa fa-spinner fa-spin"></i> Loading tweets&hellip;</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
