{% extends "base.html" %}

{% block meta_tags %}
{{ super() }}
  {%- if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% else %}
    <meta name="description" content="{{ DESCRIPTION }}" />
  {% endif %}
{% endblock meta_tags %}

{% block extra_script %}
    <script type="text/javascript", charset="utf-8">
        $(document).ready(function () {
            $.ajax({
                async: true,
                url: "/get_tweets/",
                cache: false,
                dataType: "html",
                success: function(data) {
                    $("#twitter").html(data);
                }
            });
        });
    </script>
{% endblock extra_script %}

{% block content %}
<article class="home-blurb">
    {{ page.content }}
</article>

<div class="home-extra pure-g">
    <div class="blog-excerpt pure-u-1 pure-u-md-3-5">
        <h2>Latest blog post</h2>
        {% for article in articles[:1] %}
        <p>{{ article.excerpt }}</p>
        <p class="pseudo-navigation"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}&nbsp;<i class="fa fa-arrow-circle-right"></i></a></p>
        {% endfor %}
    </div>
    <div class="twitter-excerpt pure-u-1 pure-u-md-2-5">
        <h2><a href="https://twitter.com/andrewheiss">@andrewheiss</a></h2>
        <div id="twitter">
            <div id="loading">
                <p><i class="fa fa-spinner fa-spin"></i> Loading tweets&hellip;</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
