{% extends "base.html" %}

{% block meta_tags %}
{{ super() }}
    <meta name="description" content="{{ DESCRIPTION }}" />
{% endblock meta_tags %}

{% block title %}Blog | {{ SITENAME }}{% endblock title %}

{% block content %}
<h1>Recent posts</h1>

<ol id="content-list">
{% for article in articles_page.object_list[:5] %}
        <li><article class="content-summary">
                <header class="post-header">
                    <p class="post-meta">
                        <time datetime="{{ article.date.isoformat() }}" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                    </p> 
                    <h2 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                </header>

                {{ article.excerpt }}
        </article></li>
{% endfor %}
</ol><!-- End of #content-list -->

<p class="archive-link pseudo-navigation"><a href="/blog/archive/">Older posts <i class="fa fa-arrow-circle-right"></i></a></p>
{% endblock content %}
