{% macro open_graph(title, url, description, image='') -%}
    <meta name="twitter:card" value="summary_large_image">
    <meta name="twitter:site" content="@andrewheiss">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:creator" content="@andrewheiss">
    <meta name="twitter:description" content="{{ description }}">
    {% if image != '' %}
    <meta name="twitter:image" content="{{ image }}">
    {% endif %}

    <meta property="og:site_name" content="Andrew Heiss"/>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/andrewheiss" />
    <meta property="og:url" content="{{ url }}" />
    {% if image != '' %}
    <meta property="og:image" content="{{ image }}" />
    {% endif %}
    <meta property="og:description" content="{{ description }}" />
{%- endmacro %}

{% macro blog_schema_json_ld(title, url, date, description, author, author_url, image='') -%}
    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "name": "{{ title }}",
    "headline": "{{ title }}",
    "datePublished": "{{ date }}",
    "dateModified": "{{ date }}",
    "author": {
        "@type": "Person",
        "name": "{{ author }}",
        "url": "{{ author_url }}"
    },
    {% if image != '' %}
    "image": "{{ image }}",
    {% endif %}
    "url": "{{ url }}",
    "description": "{{ description }}"
    }
    </script>
{%- endmacro %}

{% macro site_schema_json_ld(title, url, description, image='') -%}
    <script type="application/ld+json">
    {
    "@context" : "http://schema.org",
    "@type" : "WebSite",
    "name": "{{ title }}",
    "url" : "{{ url }}",
    {% if image != '' %}
    "image": "{{ image }}",
    {% endif %}
    "description": "{{ description }}"
    }
    </script>
{%- endmacro %}

{% macro page_schema_json_ld(title, url, description, image='') -%}
<script type="application/ld+json">
    {
    "@context" : "http://schema.org",
    "@type" : "WebPage",
    "name": "{{ title }}",
    "url" : "{{ url }}",
    {% if image != '' %}
    "image": "{{ image }}",
    {% endif %}
    "description": "{{ description }}"
    }
    </script>
{%- endmacro %}

{% macro meta_description(description) -%}
    <meta name="description" content="{{ description }}">
{%- endmacro %}
