{% extends "base.html" %}
{% block meta_tags %}
{{ super() }}
  {%- if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | striptags }}" />
  {% else %}
    <meta name="description" content="{{ page.summary | striptags }}" />
  {% endif %}
{% endblock meta_tags %}

{% block title %}{{ page.title | striptags | escape }} | {{ SITENAME }}{% endblock title %}

{% block content %}
<article class="content-single">
    <h1>{{ page.title }}</h1>

    {{ page.content }}
</article>

{% endblock %}
