{% extends "base.html" %}

{% block meta_tags %}
{{ super() }}
    <meta name="description" content="{{ DESCRIPTION }}" />
{% endblock meta_tags %}

{% block title %}Archives for {{ period | reverse | join(' ') }} | {{ SITENAME }}{% endblock title %}

{% block content %}
            <h1>Archives for {{ period | reverse | join(' ') }}</h1>

            <ol class="archive-list">
{% for article in dates %}
                <li>
                    <p class="post-meta">
                        <time datetime="{{ article.date.isoformat() }}" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                    </p>
                    <h3 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                </li>
{% endfor %}
            </ol>
{% endblock %}
