{% extends "base.html" %}
{% import "macros.html" as meta %}

{% set title = page.title | striptags | escape %}
{% set url = SITEURL + '/' + page.url %}
{%- if page.description %}
    {% set description = page.description %}
{% else %}
    {% set description = DESCRIPTION %}
{% endif %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block meta_tags %}
    {{ meta.meta_description(description) }}
{% endblock meta_tags %}

{% block social_meta %}
    {% if page.thumbnail %}
    {{ meta.open_graph(title, url, description, page.thumbnail) }}
    {% else %}
    {{ meta.open_graph(title, url, description, DEFAULT_SOCIAL_IMG) }}
    {% endif %}
{% endblock social_meta %}

{% block title %}{{ title }} | {{ SITENAME }}{% endblock title %}


{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.content }}

    {% set publications = [('Journal Articles', collations.article_pages),
                           ('Essays and Reviews', collations.review_pages),
                           ('Working Papers', collations.working_paper_pages),
                           ('Selected Seminar Papers', collations.seminar_paper_pages),
                           ('Software', collations.software_pages),
                           ('Translations', collations.translation_pages)] %}

    <nav>
        <ul id="publications" class="publication-toc">
        {% for pub_type_title, pubs in publications %}
            <li><a href="#{{ pub_type_title | replace(' ', '-') | lower }}">{{ pub_type_title }}</a></li>
        {% endfor %}
        </ul>
    </nav>

    {% for pub_type_title, pubs in publications %}
    <h2 id="{{ pub_type_title | replace(' ', '-') | lower }}">{{ pub_type_title }} <a href="#publications" class="back-to-top">&#8617;</a></h2>
    <ul class="publication-list">
        {% for pub in pubs | reverse %}
        <li>
            <div class="publication-content">
                {{ pub.content }}
            </div>

            <div class="publication-details">
                {% if pub.tldr %}
                <p class="tldr"><strong>tl;dr:</strong> {{ pub.tldr | md_single_line }}</p>
                {% endif %}

                {% if pub.extra %}
                <p class="extra">{{ pub.extra | md_single_line }}</p>
                {% endif %}

                {% if pub.extra1 %}
                <p class="extra">{{ pub.extra1 | md_single_line }}</p>
                {% endif %}

                <ul class="publication-links">
                    {% if pub.ungated %}
                    <li><a href="{{ pub.ungated }}"><i class="fas fa-unlock"></i> Ungated</a></li>
                    {%- endif %}

                    {% if pub.gated %}
                    <li><a href="{{ pub.gated }}"><i class="fas fa-lock"></i> Gated</a></li>
                    {%- endif %}

                    {% if pub.link %}
                    <li><a href="{{ pub.link }}"><i class="fas fa-external-link-square-alt"></i> View online</a></li>
                    {%- endif %}

                    {% if pub.book %}
                    <li><a href="{{ pub.book }}"><i class="fas fa-book"></i> Book</a></li>
                    {%- endif %}

                    {% if pub.pdf %}
                    <li><a href="{{ pub.pdf }}"><i class="far fa-file-pdf"></i> PDF</a></li>
                    {%- endif %}

                    {% if pub.presentation %}
                    <li><a href="{{ pub.presentation }}"><i class="fas fa-chalkboard-teacher"></i> PDF</a></li>
                    {%- endif %}

                    {% if pub.code %}
                    <li><a href="{{ pub.code }}"><i class="fab fa-github"></i> Code</a></li>
                    {%- endif %}

                    {% if pub.raw_output %}
                    <li><a href="{{ pub.raw_output }}"><i class="fas fa-chart-bar"></i> Raw output</a></li>
                    {%- endif %}

                    {% if pub.poster %}
                    <li><a href="{{ pub.poster }}"><i class="fas fa-square"></i> Poster</a></li>
                    {%- endif %}

                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}

{% endblock %}
