{% extends "base.html" %}
{% import "macros.html" as meta %}

{% set title = page.title | striptags | escape %}
{% set listing = True %}
{% set url = SITEURL + '/' + page.url %}
{%- if page.description %}
    {% set description = page.description %}
{% else %}
    {% set description = DESCRIPTION %}
{% endif %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block meta_tags %}
    {{ meta.meta_description(description) }}
{% endblock meta_tags %}

{% block social_meta %}
    {% if page.thumbnail %}
    {{ meta.open_graph(title, url, description, page.thumbnail) }}
    {% else %}
    {{ meta.open_graph(title, url, description, DEFAULT_SOCIAL_IMG) }}
    {% endif %}
{% endblock social_meta %}

{% block title %}{{ title }} | {{ SITENAME }}{% endblock title %}


{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.content }}

    {% set publications = [('Journal articles', collations.article_pages),
                           ('Works in progress', collations.in_progress_pages),
                           ('Book chapters', collations.chapter_pages),
                           ('Essays and reviews', collations.review_pages),
                           ('Dormant working papers', collations.dormant_pages),
                           ('Selected seminar papers', collations.seminar_paper_pages),
                           ('Software', collations.software_pages),
                           ('Translations', collations.translation_pages)] %}

    <nav>
        <ul id="publications" class="publication-toc">
        {% for project_type_title, projects in publications %}
            <li><a href="#{{ project_type_title | replace(' ', '-') | lower }}">{{ project_type_title }}</a></li>
        {% endfor %}
        </ul>
    </nav>

    {% for project_type_title, projects in publications %}
    <h2 id="{{ project_type_title | replace(' ', '-') | lower }}">{{ project_type_title }} <a href="#publications" class="back-to-top">&#8617;</a></h2>
    <ul class="publication-list">
        {% for project in projects | reverse %}
        <li>
            <article class="project-summary pure-g">
                {% if project.thumb %}
                <div class="pure-u-1-4 project-thumb">
                    <a href="{{ SITEURL }}/{{ project.url }}" rel="bookmark" title="Permalink to {{ project.title|striptags }}"><img src="{{ project.thumb }}"></a>
                </div>

                <div class="project-details pure-u-3-4">

                {% else %}
                <div class="project-details pure-u-1">
                {% endif %}
                    <div class="publication-content">
                        {{ project.details | md }}
                    </div>

                    {% include 'research_meta.html' %}
                </div>
            </article>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}

{% endblock %}
