{% extends "base.html" %}

{% block meta_tags %}
{{ super() }}
    <meta name="description" content="{{ DESCRIPTION }}" />
{% endblock meta_tags %}

{% block title %}Tags | {{ SITENAME }}{% endblock title %}

{% block content %}
    <h1>Tags</h1>
    <ul class="list taxonomy">
    {%- for tag, articles in tags | sort %}
        {% set num = articles | count %}
        <li><a href="#{{ tag | lower | replace(' ', '-') }}">#{{ tag }} <span class="count">({{ num }})</span></a></li>
    {% endfor %}
    </ul>

    {% for tag, articles in tags|sort %}
    <h2 id="{{ tag | lower | replace(' ', '-') }}">#{{ tag }} <a href="#" class="back-to-top">&#8617;</a></h2>
    <ol class="archive-list">
        {% for article in articles %} 
        <li>
            <p class="post-meta">
                <time datetime="{{ article.date.isoformat() }}" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            </p>
            <h3 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
        </li>
        {% endfor %}
    </ol>
    {% endfor %}
{% endblock %}
